In [12]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [13]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-05-16 00:04:34,-46.1927,168.8643,49.48,66,9,2.66
1,1,Puerto Ayora,EC,2022-05-16 00:00:20,-0.7393,-90.3518,73.54,94,87,1.99
2,2,Barrow,US,2022-05-16 00:01:12,71.2906,-156.7887,33.82,80,75,9.22
3,3,Upernavik,GL,2022-05-16 00:04:35,72.7868,-56.1549,11.21,88,15,6.78
4,4,Kargasok,RU,2022-05-16 00:04:36,59.0556,80.8572,52.52,76,14,7.92

In [14]:
#get the data types. 
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [15]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [17]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [21]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds ,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,
dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2022-05-16 00:04:36,-23.1203,-134.9692,76.73,68,39,18.21
6,6,Maumere,ID,2022-05-16 00:04:37,-8.6199,122.2111,82.58,72,5,3.29
11,11,Natal,BR,2022-05-16 00:04:39,-5.7950,-35.2094,77.00,89,44,7.02
13,13,Abu Dhabi,AE,2022-05-16 00:01:10,24.4667,54.3667,81.97,71,0,1.01
18,18,Baculin,PH,2022-05-16 00:04:42,7.4525,126.5842,82.72,72,76,0.96
20,20,San Ramon,US,2022-05-16 00:04:36,37.7799,-121.9780,82.60,59,0,13.80
22,22,Butaritari,KI,2022-05-16 00:04:48,3.0707,172.7902,81.64,75,12,10.45
23,23,Dingle,PH,2022-05-16 00:04:48,10.9995,122.6711,81.77,75,99,0.85
25,25,Hilo,US,2022-05-16 00:02:57,19.7297,-155.0900,87.28,86,13,8.01
33,33,Kapaa,US,2022-05-16 00:04:53,22.0752,-159.3190,82.38,73,0,9.22

In [29]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [30]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
5      Rikitea      PF     76.73 -23.1203 -134.9692
6      Maumere      ID     82.58  -8.6199  122.2111
11       Natal      BR     77.00  -5.7950  -35.2094
13   Abu Dhabi      AE     81.97  24.4667   54.3667
18     Baculin      PH     82.72   7.4525  126.5842
20   San Ramon      US     82.60  37.7799 -121.9780
22  Butaritari      KI     81.64   3.0707  172.7902
23      Dingle      PH     81.77  10.9995  122.6711
25        Hilo      US     87.28  19.7297 -155.0900
33       Kapaa      US     82.38  22.0752 -159.3190

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}